[data]
    name = "Tulio Pinheiro Cunha"
    email = "contact@tuliocunha.dev"
    github_user = "tuliopc23"

[edit]
    command = "nvim"
[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
